<!doctype html>
<html>
	<head>
		<title>Meadowlark Travel</title>
	</head>
	<body>
		<header><img src="/img/logo.png" height="20px" width="20px" alt="Meadowlark Travel Logo"></header>
		{{{body}}}
	</body>
</html>